{
  "comparator_output": 1,
  "description": {
    "translate": "jukebox_song.joy.custom_song",
    "fallback": "Author - Title"
  },
  "length_in_seconds": 185.0,
  "sound_event": "minecraft:music_disc.cat"
}